        #status {
          color: #FFFFFF;
          padding: 5px;
        }
        .online {    
          background: green;
        }
        .offline {
          background:  red;  
        }
        main, body {
                font-family:Arial;
        }
        header {
                color: #ffffff;
                background:#00ccff;
                width:100%;
        }
        footer {
                color: #ffffff;
                background:#0099cc;
                width:100%;
        }
 
