
main,
body
{
    font-family: "Arial", "Helvetica", sans-serif;
}
/*viewport units for responsive */
/*Note that 100vh acts like 100 percent 50 vh acts like 50 percent of height*/
video {
  height: 25vh;
  width: 25vw;
}
/*margin, padding, overflow hidden added for viewport units responsive videos.  When the below settings for margin, padding, and overflow were used on the body and main, the scrollbar was lost on the site*/
.videoarea {
    margin:0;
    padding:0;
    overflow:hidden;
}
header,
footer {
    background:#000000;
    color:#ffffff;
    width:100%;
}

aside {
  margin: 0 1.5% 24px 1.5%;
}
section {
  background:#800000;
  color:#ffffff;
  padding-top:10px;
  padding-bottom:10px;
}
section > video, h3, h4 {
     margin: 0 1.5% 24px 1.5%;
}
footer {
  clear: both;
  margin-bottom: 0;
}
#figaudio1 {
   width : 420px;;
   text-align:center;
   padding : 6px;
   background : white; 
   margin : 0 11px 0px 0;
   border :solid 1px #888888;
   border-radius : 8px ;
}

#figcptionaudio1 {
   font-size : .8em;
   padding : 6px 8px;
   background : #dddddd; 
   display :block;
   text-align :center;
   font-family : georgia, serif;
   font-style : italic;
   border-radius : 7px ;
}

#figaudio1 > img {
  background : #eeeeee;
   padding : 5px;
   border : solid 1px #444444;
}

/* For audio and img transitions/animation */
audio, #figaudio1 > img {
  transition:all 0.5s;
}

#figaudio1 > img:hover {
  box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
  transform: scale(1.05);
}

audio:hover, audio:focus, audio:active {
  box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
  transform: scale(1.05);
}
  
