/* to be matched with pic1 */
/* https://cloud.githubusercontent.com/assets/10208580/8580190/25e62e8c-2587-11e5-8262-cf8933518761.jpg */
.header1 {
background:url('https://cloud.githubusercontent.com/assets/10208580/8580190/25e62e8c-2587-11e5-8262-cf8933518761.jpg');no-repeat center center;height:500px;background-size:cover;
}
footer {
  background:red;
  color:#ffffff;
  padding-top:1em;
  padding-bottom:1em;
}

footer ul, li {
list-style:none;
}

footer a:active, a:visited {
  color:#ffffff;
}

footer a:hover, a:focus {
  background:black;
  color:#ffffff;
}
  
footer {
  font-size:10px;
  -webkit-tap-highlight-color:rgba(0,0,0,0)
}
  
