input:invalid { 
  background-color: lightPink;
}
input:valid { 
  background-color: lightGreen;
}
section {
  padding-top:5px;
  padding-bottom:5px;
  border-bottom: 3px solid lightblue;
}
body, main {
  font-family:Arial;
}
h2 {
  color:#336699;
}

