input:invalid { 
  background-color: lightPink;
}
input:valid { 
  background-color: lightGreen;
}
section {
  padding-top:15px;
  padding-bottom:15px; 
}
body, main {
  font-family:Arial;
}
h2 {
  color:#336699;
}
.width250 {
  width:250px;
  display:inline-block;
}
 
